{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Le Blog De Batman</h1>
        </div>

        <div class="row">
            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>
            <p class="col-12 col-md-10 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at corporis debitis, dicta, eos eveniet ex exercitationem magnam neque nulla pariatur perferendis quia suscipit, tempore veritatis vero voluptas voluptates voluptatum. Enim illo illum iste minus molestias odit ratione sit tempora totam voluptatibus? Doloribus in labore mollitia necessitatibus temporibus vero voluptate?</p>
        </div>

        {#Bandeau image fixe#}
        <div class="row my-5 batman-cover"></div>

        <div class="row">

        {#TODO: afficher les articles#}
        </div>

        <div class="row mb-5">
            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>
            <p class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at corporis debitis, dicta, eos eveniet ex exercitationem magnam neque nulla pariatur perferendis quia suscipit, tempore veritatis vero voluptas voluptates voluptatum. Enim illo illum iste minus molestias odit ratione sit tempora totam voluptatibus? Doloribus in labore mollitia necessitatibus temporibus vero voluptate?</p>
        </div>

    </div>

{% endblock %}
